/* Start of script */
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
h6 {
  color: white;
}
p {
  color: white;
}
/* File info
* File type: CSS stylesheet file (*.css)
* File version: 1 (Friday, 2021 October 8th at 4:42 pm
* Line count (including blank lines and compiler line): 29
*/
/* End of script */
